<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
      
      <!-- Badge GitHub Stars -->
      <a href="https://github.com/N0vachr0n0/Hands-on-Linux-course">
        <img src="https://img.shields.io/github/stars/N0vachr0n0/Hands-on-Linux-course?style=social" alt="GitHub stars">
      </a>
      
      <!-- Bouton View on GitHub -->
      <a href="https://github.com/N0vachr0n0/Hands-on-Linux-course" class="btn">
        <img src="https://img.shields.io/badge/View%20on-GitHub-181717?logo=github&logoColor=white" alt="View on GitHub">
      </a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
          <a href="https://github.com/N0vachr0n0/Hands-on-Linux-course">{{ site.title }}</a> 
          is maintained by <a href="https://github.com/N0vachr0n0">widal</a>.
        </span>
      </footer>
    </main>
  </body>
</html>
